<h3>{{ (filmInfo | async).noFilm.titre }}</h3>
<p></p>
<p>{{ (filmInfo | async).rea.prenRea }} {{ (filmInfo | async).rea.nomRea | uppercase}} &nbsp;&nbsp;&nbsp; Durée: {{(filmInfo | async).duree }} min</p>
<p>Date de sortie: {{ (filmInfo | async).dateSortie| date:'d MMMM y' | date:'d MMMM y' }} </p>
<p>Budget: {{(filmInfo | async).budget}}€ &nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>Recette: {{(filmInfo | async).montantRecette}} €</p>
<p>Genre: {{ (filmInfo | async).cat.libelleCat}}</p>
<img src="{{(filmInfo | async).cat.image}}">
<br>
<br>
<h4>Personnages du Film: </h4>
<button mat-button mat-flat-button color="primary" routerLink="/addPersoFilm/{{(filmInfo | async).noFilm}}">Ajouter</button>
<table class="table" #mytable>
    <thead class="thead-dark">
    <tr>
        <th scope="col">Acteur</th>
        <th scope="col">Personnage</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let perso of persos | async">
            <td>{{ perso.noAct.prenAct+ ' ' + perso.noAct.nomAct }}</td>
            <td>{{ perso.nomPers }}</td>
            <td>
                <a [routerLink]="['/updatePersoFilm', perso.noFilm.noFilm, perso.noAct.noAct,perso.nomPers]"  class="btn btn-default btn-sm">Edit</a>
                <a  (click) ="remove(perso)" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<a routerLink="/films">Retour à la liste</a>
