<h3>{{ (film | async).titre }}</h3>
<p></p>
<p>{{ (film | async).rea.prenRea }} {{ (film | async).rea.nomRea | uppercase}} &nbsp;&nbsp;&nbsp; Durée: {{(film | async).duree }} min</p>
<p>Date de sortie: {{ (film | async).dateSortie| async | date:'d MMMM y' | date:'d MMMM y' }} </p>
<p>Budget: {{(film | async).budget}}€ &nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>Recette: {{(film | async).montantRecette}} €</p>
<p>Genre: {{(film | async).cat.LibelleCat}}</p>
<img src="{{(film | async).cat.image}}">
<br>
<br>
<h4>Personnages du Film: </h4>
<button mat-button mat-flat-button color="primary" routerLink="/addPersoFilm/{{(film | async).noFilm}}">Ajouter</button>
<table class="table" #mytable>
    <thead class="thead-dark">
    <tr>
        <th scope="col">Acteur</th>
        <th scope="col">Personnage</th>
        <th scope="col">Options</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let perso of persos">
            <td>{{ perso.nomAct|async }}</td>
            <td>{{ perso.nomPerso }}</td>
            <td>
                <a [routerLink]="['/updatePersoFilm', perso.noFilm, perso.noAct,perso.nomPerso]"  class="btn btn-default btn-sm">Edit</a>
                <a routerLink="./" (click) ="remove(perso)" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<a routerLink="/films">Retour à la liste</a>
