<ul class="list-group-item">
    <h3>{{ (acteurInfo|async).nomAct }}  {{ (acteurInfo|async).prenAct }}</h3>
    <p></p>
     <p>Date de naissance: {{ (acteurInfo|async).dateNaiss | date:'d MMMM y' }} </p>
     <p [hidden]="(acteurInfo|async).dateDeces == null">Date deces: {{ (acteurInfo|async).dateDeces | date:'d MMMM y' }} </p>
     <br>
    <h4>Personnages joués: </h4>
    <button mat-button mat-flat-button color="primary" routerLink="/addPerso/{{(acteurInfo|async).noAct}}">Ajouter</button>
    <table class="table" #mytable>
        <thead class="thead-dark">
        <tr>
            <th scope="col">Film</th>
            <th scope="col">Personnage</th>
            <th scope="col">Options</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let perso of persos | async">
                <td>{{ perso.noFilm.titre }}</td>
                <td>{{ perso.nomPers }}</td>
                <td>
                    <a [routerLink]="['/updatePerso', perso.noFilm.noFilm, perso.noAct.noAct, perso.nomPers]"  class="btn btn-default btn-sm">Edit</a>
                    <a routerLink="./" (click) ="remove(perso)" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <alert></alert>
<a routerLink="/acteurs">retour à la liste</a>
</ul>
